.events_slider {
	background: black;
	color: $primary;
	padding: 1rem;
	margin-bottom: 1rem;

	.event {
		position: relative;
	}

	.info {
		position: absolute;
		top: 40%;
		padding: 1rem;
		background: rgba(223, 190, 47, 0.9);
		color: black;
	}
}
