.cpt {
	margin-bottom: 1rem;

	img {
		width: 100%;
	}
	.description {
		color: white;
		text-align: center;
		position: relative;
		min-height: 243px;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: soft-light;
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.6);

		.wrap {
			width: 100%;
			color: white;
			font-weight: 600;

			h3 {
				text-shadow: 5px 5px 5px #000;
			}

			p {
				font-size: 0;
			}
		}

		&:hover {
			background-color: rgba(223, 190, 47, 1);
			cursor: pointer;

			.wrap {
				color: black;

				h3 {
					text-shadow: none;
				}
				p {
					font-size: inherit;
				}
			}
		}
	}
}
