/* 
    Footer
*/

footer {
	// background: rgb(22, 6, 22);

	padding: $padding;

	.contact {
		color: $white;
	}
}

#site-footer {
	background: $secondary;
	a {
		padding: 0 1rem;
		color: white;
	}
}
