.landing-page {
	position: relative;
	height: 100vh;

	#logo {
		background: url("../img/Redemption-master-logo.png");
		background-attachment: fixed;
		height: 100vh;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	.scroll-text {
		position: fixed;
		bottom: 100px;
		color: white;
		margin: auto;
		width: 100%;
		text-align: center;
		left: 0;
	}
}

.main-content {
	position: relative;
	z-index: 1;

	header,
	main {
		background: $primary;
	}
}

header {
	padding: 2rem;

	a {
		color: blue;
		font-size: 20px;
	}

	button {
		background: transparent;
		color: $secondary;
		position: relative;
		padding: 0;

		&:before {
			content: '';
			position: absolute;
			left: -50px;
			background: url('/core/buy_now_icon.png');
			height: 44px;
			width: 44px;
			top: -12px;
		}
	}

	.hero {
		.img-logo img {
			width: 100%;
		}
	}
}

#home-header {
	// background: url('../img/black_texture_with_logo.jpg');
	background-image: url('../img/food-fg-image.png'), url('../img/Background-image-resized.jpg');
	// background-size: contain, cover;
	background-position: 50% 26%, 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 0;
	display: flex;
	justify-content: center;
	background-size: auto, cover;

	&.large {
		height: 100vh;

		img {
			position: fixed;
			top: 36%;
		}
	}

	&.shrink {
		padding-top: 95.5vh;
		height: 100vh;
	}

	#home-logo {
		height: 126px;
		z-index: 2;
	}
}

#site-header {
	background-image: url('../img/food-fg-image.png'), url('../img/Background-image-resized.jpg');
	background-position: 50% 0%, 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	display: flex;
	justify-content: center;
	background-size: auto, cover;

	height: 30vh;
	padding-top: 25.5vh;

	#logo {
		// height: 126px;
		position: absolute;

		&.full {
			width: auto;
			max-width: 100%;
			z-index: 2;
		}
	}
}
