.home .bucket {
	justify-content: space-between;
	background: url('../img/Caramel.png');
	background-size: cover;
	background-position: 0% 46%;
	background-repeat: no-repeat;
	padding: 4rem 0;

	img {
		width: 100%;
	}
}

.icon_title_content {
	h3 {
		color: $secondary;
		font-weight: 600;
		font-family: "Open Sans", cursive;
		line-height: 1.1;
	}

	p {
		color: lighten(black, 35%);
		max-width: 79%;
	}
}

.content-editor.taste.round.black_texture_bg {
	background-position: 10%;
	h3 {
		font-size: 2.999rem;
	}
}

.content-editor.consistancy.round.black_texture_bg {
	background-position: 50%;
	h3 {
		font-size: 2.999rem;
	}
}

.content-editor.range.round.black_texture_bg {
	background-position: 90%;
	h3 {
		font-size: 2.999rem;
	}
}

.soup_seller {
	padding: 2rem 0;

	h3 {
		font-size: 89px;
	}
}

.row.justify-content-center.about_us {
	margin-bottom: 8rem;
}
