.soups {
	font-family: $alt_family;
	font-size: 35px;

	p {
		a {
			color: white;
		}
	}
}

.soups-seller-card {
	margin: 4rem auto 0;
	padding-bottom: 6rem;

	h3 {
		font-size: 89px;
		line-height: 0.9;
		margin: 5rem 0 3rem;
	}
}

.soup-single {
	h3 {
		padding-top: $p-md;
	}

	button {
		margin-top: $m-md;
	}
}
