.text-centre {
	text-align: center;
}

.green {
	color: $secondary;
}

.secondary {
	color: $secondary;
}

.large {
	font-size: 4rem;
	font-weight: 600;
}

.caps {
	text-transform: capitalize;
}

.upper {
	text-transform: uppercase;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-row-gap: $padding;
}

.round {
	border-radius: 100%;
	min-height: 340px;
	padding: 6rem 2rem 2rem;
	margin-top: 2rem;

	img {
		width: auto;
		height: auto;
	}

	&.formats {
		padding: 0;
	}

	&.soup {
		padding: 0;
		min-height: 275px;
		text-align: center;
	}

	&.soup-text {
		padding: 0;
		margin-top: 0;

		min-height: 275px;

		max-height: 275px;
		max-width: 275px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;

		&.small {
			font-size: 30px;
		}
	}

	&.alt {
		padding: 2rem 2rem 2rem;
		min-height: 350px;
		min-width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.bespoke_icons_caption {
			height: 195px;
			width: 195px;
			min-height: 195px;
			min-width: 195px;
			max-width: 195px;
			padding: 0 !important;

			p {
				font-size: 1.3rem;
				margin-bottom: 0;
			}
		}
	}
}

.black_texture_bg {
	background: url('../img/black_texture.jpg');
	text-align: center;
	color: white;
	margin-top: 1.95rem !important;
	padding: 3rem 4rem !important;

	&.taste {
		background-position: 10%;
	}

	&.consistancy {
		background-position: 50%;
	}

	&.range {
		background-position: 90%;
	}

	h3 {
		font-size: 2.999rem;
	}
}

.center {
	text-align: center;
}

.parallax {
	width: 100%;
	max-height: 350px;
	background-attachment: fixed;
	min-height: 350px;
}

.full {
	max-width: 100%;
}

.rounded5 {
	border-radius: 5px;
}

.green {
	background: lightseagreen;
	a {
		color: white;
	}
}

.red {
	color: #bd1e2f;
}

.normal-font {
	font-family: $family;
}

.bg_left {
	background-position: 10%;
}

.bg_center {
	background-position: 50%;
}

.bg_right {
	background-position: 90%;
}

.pb-large {
	padding-bottom: $p-lg;
}

.pb-medium {
	padding-bottom: $p-md;
}

.pb-small {
	padding-bottom: $p-sm;
}

.pt-large {
	padding-top: $p-lg;
}

.pt-medium {
	padding-top: $p-md;
}

.pt-small {
	padding-top: $p-sm;
}

.mb-large {
	margin-bottom: $m-lg;
}

.mb-medium {
	margin-bottom: $m-md;
}

.mb-small {
	margin-bottom: $m-sm;
}
