.text-centre {
	text-align: center;
}

.green {
	color: $secondary;
}

.secondary {
	color: $secondary;
}

.large {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.grid {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	// grid-gap: $padding;
	// width: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}
.grid > div {
	flex: 1 1 200px;
}
