$primary: #f2f2f3;
$secondary: #dfbe2f;
$padding: 2rem;

$family: 'Merriweather', sans-serif !important;
$alt_family: 'Covered By Your Grace', cursive !important;

body {
	font-family: $family;
}

$border: 1px solid $secondary;
$border-radius: 5px;

/* Typography */
$base: 16px;

$h1: 3.998rem;
$h2: 2.827rem;
$h3: 1.999rem;
$h4: 1.414rem;
$h5: 1rem;
$h6: 0.707rem;

$small: 0.5rem;
$tiny: 0.354rem;

$color: #000000;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $alt_family;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

h5 {
	font-size: $h5;
}

/* Padding */

$p-lg: 7rem;
$p-md: 4rem;
$p-sm: 1rem;

/* Margin */

$m-lg: 7rem;
$m-md: 4rem;
$m-sm: 1rem;
