$primary: #e3e4e5;
$secondary: #56a9bc;
$padding: 2rem;

body {
	font-family: 'Open Sans', sans-serif;
}

$border: 1px solid $secondary;
$border-radius: 5px;

/* Typography */
$base: 16px;

$h1: 3.998rem;
$h2: 2.827rem;
$h3: 1.999rem;
$h4: 1.414rem;
$h5: 1rem;
$h6: 0.707rem;

$small: 0.5rem;
$tiny: 0.354rem;

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}
