.formats {
	margin: 1rem auto 6rem;

	.bespoke_icons_caption {
		font-size: 33px;
		font-weight: 100;

		&.normal-font {
			font-size: initial;
		}
	}
}

.formats-list {
	li {
		margin-bottom: 2rem;
	}
}
