.content-editor {
	// border: $border;
	// border-radius: $border-radius;
	// padding: $padding;
	margin: 1rem auto;

	ul {
		opacity: 0;
		visibility: hidden;
		font-size: 0;

		margin: 0;

		&.unactive {
			transition: all 0.2s ease-out;
		}

		&.active {
			opacity: 1;
			font-size: initial;
			visibility: visible;
			transition: all 0.2s ease-in;
		}
	}
}
