.content-editor,
.icon_title_content {
	margin: 1rem auto;
	padding: 2rem;

	h1, h2 {
		padding: 2rem;
	}

	h2 {
		font-size: $h1;
	}

	p {
		font-weight: 700;
	}

	a.read_more {
		color: $secondary;
		display: block;
		cursor: pointer;
	}

	.hide {
		opacity: 0;
		visibility: hidden;
		font-size: 0;

		margin: 0;

		&.unactive {
			transition: all 0.2s ease-out;
		}

		&.active {
			opacity: 1;
			font-size: initial;
			visibility: visible;
			transition: all 0.2s ease-in;
		}

		ul {
			margin: 0;
		}
	}
}
