.maxim-discount {
	background: #dfbe2f;
	margin-bottom: 1rem;
	position: relative;

	img {
		position: absolute;
		bottom: 0;
	}

	h3 {
		font-weight: 600;
		line-height: 0.9;
		font-size: 1.8rem;

		span {
			color: white;
		}
	}

	button {
		background: black;
		padding: 5px 0px 5px 10px;
		position: relative;
		text-transform: uppercase;
		margin-bottom: 0.4rem;

		&:after {
			border-style: solid;
			border-width: 0.25em 0.25em 0 0;
			content: '';
			display: inline-block;
			height: 24px;
			left: 10px;
			position: relative;
			top: 0;
			transform: rotate(45deg);
			vertical-align: top;
			width: 24px;
			background: black;
			color: black;
		}

		.chevron {
			background: white;
			width: 23px;
			height: 34px;
			position: absolute;
			right: -20px;
			top: 0;

			&:before {
				content: '';
			}

			&:after {
				border-style: solid;
				border-width: 0.25em 0.25em 0 0;
				content: '';
				display: inline-block;
				height: 24px;
				left: 12px;
				position: relative;
				top: 5px;
				transform: rotate(45deg);
				vertical-align: top;
				width: 24px;
				background: white;
				color: white;
			}
		}
	}
}
