body {
	background: $primary;
	font-family: $font;
	font-size: $base;
	color: $bg;
	margin: 0;
}

a {
	color: $link;
}

button {
	background: $secondary;
	border: none;
	padding: $padding ($padding*2);
	color: #fff;
	cursor: pointer;

	&.small {
		padding: ($padding/2) $padding;
		border-radius: 5px;
	}
}
