$primary: #1A77B9;
$secondary: #3a3a3c;
$bg: white;
$padding: 2rem;

$link: $secondary;

$font: 'Hind', sans-serif;

$border: 1px solid $secondary;
$border-radius: 5px;

/* Typography */
$base: 16px;

$h1: 3.998rem;
$h2: 2.827rem;
$h3: 1.999rem;
$h4: 1.414rem;
$h5: 1rem;
$h6: 0.707rem;

$small: 0.5rem;
$tiny: 0.354rem;
